#!/usr/bin/make -f

export UPSTREAM_LIBVERSION = 5.1.1.8
UPSTREAM_TAG = android-5.1.1_r8
UPSTREAM_VERSION = 5.1.1+r8
export LLVM_VERSION = 3.5
# See sdk/build_tools_source.prop_template in platform/development
export BUILD_TOOLS_VERSION = 22.1.3

%:
	dh $@

override_dh_shlibdeps:
	dh_shlibdeps -l/usr/lib/android

override_dh_auto_build:
	make -C libbcc/bcinfo/Wrap -f ../../../debian/libLLVMWrap.mk
	make -C libbcc/bcinfo/BitReader_2_7 -f ../../../debian/libLLVMBitReader_2_7.mk
	make -C libbcc/bcinfo/BitReader_3_0 -f ../../../debian/libLLVMBitReader_3_0.mk
	make -C slang/BitWriter_3_2 -f ../../debian/libLLVMBitWriter_3_2.mk
	make -C libbcc/bcinfo -f ../../debian/libbcinfo.mk
	make -C libbcc/lib/Core -f ../../../debian/libbccCore.mk
	make -C libbcc/lib/ExecutionEngine -f ../../../debian/libbccExecutionEngine.mk
	make -C libbcc/lib/Renderscript -f ../../../debian/libbccRenderscript.mk
	make -C libbcc/lib/Support -f ../../../debian/libbccSupport.mk
	make -C libbcc -f ../debian/libbcc.mk
	make -C libbcc/tools/bcc -f ../../../debian/bcc.mk
	make -C libbcc/tools/bcc_compat -f ../../../debian/bcc_compat.mk
	make -C libbcc/tools/bcc_strip_attr -f ../../../debian/bcc_strip_attr.mk

override_dh_auto_clean:
	make -C libbcc/bcinfo/Wrap -f ../../../debian/libLLVMWrap.mk clean
	make -C libbcc/bcinfo/BitReader_2_7 -f ../../../debian/libLLVMBitReader_2_7.mk clean
	make -C libbcc/bcinfo/BitReader_3_0 -f ../../../debian/libLLVMBitReader_3_0.mk clean
	make -C slang/BitWriter_3_2 -f ../../debian/libLLVMBitWriter_3_2.mk clean
	make -C libbcc/bcinfo -f ../../debian/libbcinfo.mk clean
	make -C libbcc/lib/Core -f ../../../debian/libbccCore.mk clean
	make -C libbcc/lib/ExecutionEngine -f ../../../debian/libbccExecutionEngine.mk clean
	make -C libbcc/lib/Renderscript -f ../../../debian/libbccRenderscript.mk clean
	make -C libbcc/lib/Support -f ../../../debian/libbccSupport.mk clean
	make -C libbcc -f ../debian/libbcc.mk clean
	make -C libbcc/tools/bcc -f ../../../debian/bcc.mk clean
	make -C libbcc/tools/bcc_compat -f ../../../debian/bcc_compat.mk clean
	make -C libbcc/tools/bcc_strip_attr -f ../../../debian/bcc_strip_attr.mk clean
	dh_auto_clean

get-orig-source: libbcc.tar.gz slang.tar.gz rs.tar.gz
	mkdir -p android-platform-frameworks-compile-$(UPSTREAM_VERSION)/libbcc
	mkdir android-platform-frameworks-compile-$(UPSTREAM_VERSION)/slang
	mkdir android-platform-frameworks-compile-$(UPSTREAM_VERSION)/rs
	tar -f libbcc.tar.gz -z -x --directory android-platform-frameworks-compile-$(UPSTREAM_VERSION)/libbcc
	tar -f slang.tar.gz -z -x --directory android-platform-frameworks-compile-$(UPSTREAM_VERSION)/slang
	tar -f rs.tar.gz -z -x --directory android-platform-frameworks-compile-$(UPSTREAM_VERSION)/rs
	cp -r android-platform-frameworks-compile-$(UPSTREAM_VERSION)/rs/cpu_ref/linkloader android-platform-frameworks-compile-$(UPSTREAM_VERSION)
	rm -r android-platform-frameworks-compile-$(UPSTREAM_VERSION)/rs
	tar --create --xz -f android-platform-frameworks-compile_$(UPSTREAM_VERSION).orig.tar.xz android-platform-frameworks-compile-$(UPSTREAM_VERSION)
	mv android-platform-frameworks-compile_$(UPSTREAM_VERSION).orig.tar.xz ..
	rm -r $^ android-platform-frameworks-compile-$(UPSTREAM_VERSION)

libbcc.tar.gz:
	wget https://android.googlesource.com/platform/frameworks/compile/libbcc/+archive/$(UPSTREAM_TAG).tar.gz -O $@

slang.tar.gz:
	wget https://android.googlesource.com/platform/frameworks/compile/slang/+archive/$(UPSTREAM_TAG).tar.gz -O $@

rs.tar.gz:
	wget https://android.googlesource.com/platform/frameworks/rs/+archive/$(UPSTREAM_TAG).tar.gz -O $@